body{
  background-color: #000000;
}

.grid-container {
    display: grid;
    background-color: #000000;
  }
  .grid-item {
    display: flex;
    padding: 1.25rem;
    font-size: 1.875rem;
    text-align: center;
  
  }


  .entity-player{
    background: url(sprites/character.png) ;
    background-size: 100% 100%;
  }

  .entity-block{
    background: url(sprites/box_closed.png) ;
    background-size: 100% 100%;
  }

  .entity-block-goal{
    background: url(sprites/box_open.png) ;
    background-size: 100% 100%;
  }

  .tile-wall{
    background: url(sprites/wall.png) ;
    background-size: 100% 100%;
  }

  .tile-space{
    background-color: #000000;
  }

  .tile-goal{
    background: url(sprites/goal.png) ;
    background-size: 100% 100%;
  }

  #btnRestart{
   background-color: green;
   font-size: 30px;
   border-radius: 12px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   
   top: 62%;
   left: 45%;
   margin-top: 	0.625rem;
   margin-left: 50%;

  }

  #btnRestart:hover {
    background-color: #4CAF50; /* Green */

  }

  #count{
    font-family: Arial, Helvetica, sans-serif;
    color: ivory;
  }