.grid-container {
    display: grid;
    background-color: #000000;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 32px;
    width: 32px;
  }

  .entity-player{
    background: url(character.png) ;
    background-size: 100% 100%;
  }

  .entity-block{
    background: url(box_closed.png) ;
    background-size: 100% 100%;
  }

  .entity-block-goal{
    background: url(box_open.png) ;
    background-size: 100% 100%;
  }

  .tile-wall{
    background: url(wall.png) ;
    background-size: 100% 100%;
  }

  .tile-space{
    background-color: #000000;
  }

  .tile-goal{
    background: url(goal.png) ;
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
    margin: auto;
  }

  #btnRestart{
   background-color: green;
   font-size: 40px;
   border-radius: 12px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   margin: 0;
   position: absolute;
   top: 62%;
   left: 45%;
   
   
  }

  #btnRestart:hover {
    background-color: #4CAF50; /* Green */

  }